In [1]:
import pandas as pd

### Data Exploration
---

In [2]:
#Read file to do data exploration
FileData = pd.read_csv("tweets.csv")

In [3]:
# number of dataset before clean 
len(FileData)

10000

In [4]:
#number of dataset rows and columns 
print(FileData.shape)

(10000, 7)

In [5]:
#The columns title of dataset
FileData.columns

Index(['Unnamed: 0', 'ID', 'Tweet', 'Timestamp', 'Likes', 'Retweets',
       'Length'],
      dtype='object')

In [6]:
#each column's data type:
FileData.dtypes

Unnamed: 0     int64
ID             int64
Tweet         object
Timestamp     object
Likes          int64
Retweets       int64
Length         int64
dtype: object

In [7]:
#general Information about the dataset
FileData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10000 non-null  int64
 1   ID          10000 non-null  int64
 2   Tweet       10000 non-null  object
 3   Timestamp   10000 non-null  object
 4   Likes       10000 non-null  int64
 5   Retweets    10000 non-null  int64
 6   Length      10000 non-null  int64
dtypes: int64(5), object(2)
memory usage: 547.0+ KB

In [8]:
print(FileData.isnull().sum())

Unnamed: 0    0
ID            0
Tweet         0
Timestamp     0
Likes         0
Retweets      0
Length        0
dtype: int64

### Data Preprocessing
---

Remove Duplicates Records

In [9]:
# Assess the number of duplicates in dataset
duplicateTweets = FileData[FileData.duplicated('Tweet')]

display(duplicateTweets.tail())
print('The number of duplicates is ', len(duplicateTweets))

,Unnamed: 0,ID,Tweet,Timestamp,Likes,Retweets,Length
9955,9955,1577678237357989889,@@@مسترمندوب 😘💋👍 Mhd \nمرسول🍑🍑🍑\nجاهز🍒🍒🍒🍒🍒\nهن...,2022-10-05 15:12:58+00:00,0,0,94
9956,9956,1577678235680358401,@@@مسترمندوب 😘💋👍 Mhd \nمرسول🍑🍑🍑\nجاهز🍒🍒🍒🍒🍒\nهن...,2022-10-05 15:12:57+00:00,0,0,94
9959,9959,1577678167577329667,@HungerStation #منشن_اللي كل لعبه تسحيب,2022-10-05 15:12:41+00:00,0,0,39
9967,9967,1577677838920159232,لا تفوت كود تويو مثل هنقرستيشن يرجع 15-50 اول ...,2022-10-05 15:11:23+00:00,0,0,86
9990,9990,1577676818919964672,@HungerStation ؟,2022-10-05 15:07:20+00:00,0,0,16

The number of duplicates is  2554

In [10]:
# Remove duplicates from dataset

Final_tweets = FileData.drop_duplicates('Tweet').reset_index(drop=True).drop(['Unnamed: 0'], axis=1)

display(Final_tweets.head())
display(Final_tweets.tail())
print("Length after removing duplicates", len(Final_tweets))

,ID,Tweet,Timestamp,Likes,Retweets,Length
0,1579452840237404161,#هنقرستيشن_كود وش رايك فيني و انا أضبطك مع هنق...,2022-10-10 12:44:36+00:00,0,0,165
1,1579452685044289536,@مسترمندوب 🌺 OWn 🌺 \nمرسول🍠🥡🍠🥡🍠\nجاه...,2022-10-10 12:43:59+00:00,0,0,108
2,1579452455254777857,@HungerStation ادخل الاقي التوصيل ب9 ريال! مال...,2022-10-10 12:43:04+00:00,0,0,64
3,1579452331099566081,كل عام وانتم بخير\nمسترمندوب 🌷🌛OWn 🌷\nمرسول🍿💖🍿...,2022-10-10 12:42:35+00:00,0,0,89
4,1579450892356812801,@HungerStation مافيه رقم طلب فيه فلوس اخذتوها ...,2022-10-10 12:36:52+00:00,0,0,54

,ID,Tweet,Timestamp,Likes,Retweets,Length
7441,1577676665664192515,@Dr_ksa2020 @HungerStation @MCgovSA اخيس تطبيق...,2022-10-05 15:06:43+00:00,0,0,152
7442,1577676664233934850,@HungerStation @_waheed20,2022-10-05 15:06:43+00:00,0,0,25
7443,1577676648870301697,@HungerStation .\n.\n@ro0o2005 😁😁,2022-10-05 15:06:39+00:00,2,1,32
7444,1577676622433509378,@HungerStation #منشن_اللي \n\n❤️❤️❤️❤️❤️❤️,2022-10-05 15:06:33+00:00,0,0,43
7445,1577676595506159619,@HungerStation تم يارب من نصيبي,2022-10-05 15:06:26+00:00,0,0,31

Length after removing duplicates 7446